.container {
    position: relative;
}
.container fieldset {
    position: absolute;
    left: 0;
    right: 0;
    color: var(--colors-grey-900--hsl)
}

.sortbutton {
    background-color: var(--colors-blue-800--hsl);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.1rem;
    border-radius: 0.625rem;
    color: var(--colors-white--hsl);
    cursor: pointer;
}

.label {
    padding-right: 0.5rem;
    font-weight: 200;
}
.option { 
    font-weight: 800;
    padding-right: 0.5rem;
}