.roadmap {
    color: var(--colors-grey-800--hsl)
}
.roadmap__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    color: var(--colors-grey-900--hsl)
}
.roadmap__entry {
    display: flex; 
    justify-content: space-between;
}

.roadmap__link {
    color: var(--colors-blue-500--hsl);
}

.roadmap__dot {
    margin-right: 1rem;
}

.roadmap__entry:nth-of-type(2) .roadmap__dot {
    fill: var(--colors-peach--hsl);
}
.roadmap__entry:nth-of-type(3) .roadmap__dot {
    fill: var(--colors-purple--hsl);
}
.roadmap__entry:nth-of-type(4) .roadmap__dot {
    fill: var(--colors-blue-300--hsl);
}
.roadmap__entry:nth-of-type(5) .roadmap__dot {
    fill: var(--colors-green--hsl);
}

.roadmap__count {
    margin-right: 0;
    text-align: right;
    font-weight: bold;
}

