.emptystate__container {
 display: flex; 
 flex-direction: column;
 justify-content: center; 
 align-items: center;
 padding: 6.8rem 0;
}

.emptystate__illustration {
    margin-bottom: 3.5rem;
}
.emptystate__pseudoheading {
    color: var(--colors-blue-800--hsl);
    padding-bottom: 1rem;
}

.emptystate__text {
    max-width: 45ch;
    text-align: center;
    padding-bottom: 3rem;
}