body {
    font-family: 'Jost', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.h1 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    letter-spacing: -0.33;
}
.h2 {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    letter-spacing: -0.25;
}
.h3 {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.625rem;
    letter-spacing: -0.25;
}
.h4 {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.2;
}
.h5 {
    font-weight: medium;
    font-size: 0.9375rem;
}

.body {
    font-weight: regular;
    font-size: 1rem;
    line-height: 1.4375rem;
}
.body--alt {
    font-weight: regular;
    font-size: 0.9375rem;
    line-height: 1.375rem;
}
.body--bold {
    font-weight: semibold;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
}

.link {
    color: var(--colors-blue-500--hsl);
}
