.CommentCount {
    display: inline-block;
    align-self: center;
    text-align: right;
    font-weight: bold;
}
.CommentCount.zero {
    color: var(--colors-grey-500--hsl);
}
.CommentCount::before {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    content: url(../../../assets/shared/icon-comments.svg);
    padding-right: 0.5rem;
    
}