.sortbutton {
    background-color: var(--colors-blue-800--hsl);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.625rem 1.1rem;
    border-radius: 0.625rem;
    color: var(--colors-white--hsl);
    cursor: pointer;
    margin-bottom: 1rem;
}

.sortbutton__label {
    padding-right: 0.5rem;
    font-weight: 200;
}
.sortbutton__option { 
    font-weight: 800;
    padding-right: 0.5rem;
}