.container {
    display: grid; 
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-auto-flow: column dense;
    
}

.upvote {
    grid-row: 1 / -1;
}
.comments {
    grid-row: 1 / -1;
    justify-self: end;
}


.description {
    color: var(--colors-grey-800--hsl);
    padding-bottom: 0.75rem;
}